/*!************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/style.module.scss ***!
  \************************************************************************************************************************************************************************/
.tRK28RnSoYliGq2Ep0bj[data-x=true] > .oCiYCQfgBis6JQG3P_Zk {
  color: red;
}
.tRK28RnSoYliGq2Ep0bj[data-x=false] > .oCiYCQfgBis6JQG3P_Zk {
  color: green;
}
.tRK28RnSoYliGq2Ep0bj > .oCiYCQfgBis6JQG3P_Zk {
  color: blue;
}

.miqKuUqql8m4t6RS6h53[data-x=true] > .inner {
  color: red;
}
.miqKuUqql8m4t6RS6h53[data-x=false] > .inner {
  color: green;
}
.miqKuUqql8m4t6RS6h53 > .inner {
  color: blue;
}

.Oy99JaTzEZhULgyzCEXO[data-x=true] > .inner {
  color: red;
}

.Oy99JaTzEZhULgyzCEXO[data-x=false] > .inner {
  color: green;
}

.Oy99JaTzEZhULgyzCEXO > .inner {
  color: blue;
}
