.class {
  &[data-x="true"] {
    > .inner {
      color: red;
    }
  }
  &[data-x="false"] {
    > .inner {
      color: green;
    }
  }
  > .inner {
    color: blue;
  }
}

.class2:global {
  &[data-x="true"] {
    > .inner {
      color: red;
    }
  }
  &[data-x="false"] {
    > .inner {
      color: green;
    }
  }
  > .inner {
    color: blue;
  }
}

.class3[data-x="true"]:global {
  > .inner {
    color: red;
  }
}
.class3[data-x="false"]:global {
  > .inner {
    color: green;
  }
}
.class3:global {
  > .inner {
    color: blue;
  }
}